@page
@{
    ViewData["Title"] = "Om sidan";
}
<br />
<br />
<br />

<article class="boxText">
    <h3>Om sidan</h3>
    <p>
        Denna sidan är gjord av Malin Svensson i januari 2021.<br /><br />
        Här kommer lite utfyllnadstext. Löksås ipsum björnbär inom smultron tiden sin om kunde, omfångsrik se hwila precis inom vemod kunde, verkligen ingalunda fram miljoner annan stora där. Olika färdväg när samtidigt dock händer regn rot vid som bra lax stig sin, enligt hwila mjuka på del själv det genom bäckasiner plats dimma. Annat del sin annan bra verkligen samma om faktor, sitt stora vidsträckt varit det kan vidsträckt.
    </p>
</article>
</div>

<svg>
    <style type="text/css">
        .button1 {
            background-color: white;
            color: black;
        }

        .button2 {
            background-color: white;
            color: black;
        }

        .button3 {
            background-color: black;
            color: white;
        }
    </style>
</svg>