@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}
<br />
<br />
<br />

<article class="boxText">
    <h3>Välkommen!</h3>
    <p>
        Det här är min webbplats gjord för moment 1.2 i kursen ASP.NET med C#. <br /> <br />

        Här kommer lite utfyllnadstext. Löksås ipsum björnbär inom smultron tiden sin om kunde, omfångsrik se hwila precis inom vemod kunde, verkligen ingalunda fram miljoner annan stora där. Olika färdväg när samtidigt dock händer regn rot vid som bra lax stig sin, enligt hwila mjuka på del själv det genom bäckasiner plats dimma. Annat del sin annan bra verkligen samma om faktor, sitt stora vidsträckt varit det kan vidsträckt.
    </p><br />

    <button onclick="myFunction()" class="click">Klicka här :-)</button>



</article>
</div>

<svg>
    <style type="text/css">
        .button1 {
            background-color: black;
            color: white;
        }

        .button2 {
            background-color: white;
            color: black;
        }

        .button3 {
            background-color: white;
            color: black;
        }
    </style>
</svg>


